* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 4;
    background-color: white;
}

.icon {
    float: left;
    margin-left: 200px;
    height: 38px;
    margin-top: 35px;
}

.header_menus {
    float: right;
    font-weight: 400;
    font-size: 14px;
    margin-top: 40px;
    margin-right:200px;
    z-index: 5;
}

button{
    border: none;
    outline: 0 !important;
    outline-color: white;
    color: rgb(145, 145, 145);
    padding-left: 50px;
    background-color: white;
    text-decoration: none !important;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}


button > span {
    position: relative;
}

button > span::after {
    content: '';
    width: 0%;
    right: 100%;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid rgb(29, 150, 255);
    transition:all .3s ease;
  }

  button:hover > span::after {
    content: '';
    width: 100%;
    right: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid rgb(29, 150, 255);
    transition:all .3s ease;
  }

.header_menus a {
    color: rgb(145, 145, 145);
    padding-left: 50px;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.introduction {
    position : absolute;
    top: 100px;
    height: 750px;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5fd; 
    color: rgb(48, 48, 48);
}

.intro {
    margin: 0px auto;
    margin-top: 100px;
}

.title {
    font-size: 32px;
    line-height: 130%;
    text-align: left;
}

.content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
    text-align: left;
}

.introgroup_a {
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
}

.introgroup_b {
    margin-left: 40px;
    display: inline-block;
    width: 450px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    padding: 35px 50px 20px 50px;
    border: none;
    box-shadow: 0px 0px 5px 3px rgb(226, 226, 226);
    border-radius: 20px;
    vertical-align: middle;
}

.introgroup_b > span {
    font-size: 13px;
    font-weight: 500;
    color: grey;
}

::placeholder {
    color: rgb(213, 213, 213);
    font-size: 13px;
    font-weight: 300;
}

input {
    font-weight: 300;
    height: 35px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1.5px;
    border-color: rgb(208, 208, 208);
}

#username{
    width: 300px;
    margin-top: 30px;
}

#password1{
    width: 300px;
    margin-top: 8px;
}

#password2{
    width: 300px;
    margin-top: 8px;
}

#email{
    width: 300px;
    margin-top: 8px;
}

#familyname {
    width: 145px;
    margin-right:6.5px;
    margin-top: 8px;
}

#name {
    width: 145px;
    margin-top: 8px;
}

#submit {
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(29, 150, 255);
    background-color: white;
    letter-spacing: 1.5px;
    border: none;
    box-shadow: 0px 0px 5px 3px rgb(226, 226, 226);
    margin-top: 30px;
}

.contract {
    font-size: 8px;
    width: 275px;
    line-height: 120%;
    letter-spacing: 0.5px;
    margin-top: 35px;
    border-width: 10px;
    position: relative;
    left: 35px;
}

.service_introduction {
    position: relative;
    top: 930px;
    text-align: center;
    margin: 0px auto;
}

.serviceintroduction_title {
    font-size: 20px;   
}

.serviceintroduction_content {
    margin-top: 30px;
    font-size: 12px;
    line-height: 160%;
}

.interview {
    position: relative;
    margin: 0px auto;
    top: 20px;
    text-align: center;
}

.interviewer {
    display: inline-block;
    margin: 0px 100px;
}

.interviewee {
    display: inline-block;
    margin: 0px 100px;
}

.interviewer_image {
    width: 400px;
}

.interviewer_title {
    font-size: 15px;
    font-weight: 500;
}

.interviewer_engtitle {
    font-size: 10px;
    color: grey;
    margin-top: 5px;
}

.interviewer_content {
    font-size: 12px;
    line-height: 300%;
}

.interviewee_title {
    font-size: 15px;
    font-weight: 500;
}

.interviewee_engtitle {
    font-size: 10px;
    color: grey;
    margin-top: 5px;
}

.interviewee_content {
    font-size: 12px;
    line-height: 300%;
}

.price_information {
    position: relative;
    margin: 0px auto;
    top: 240px;
    text-align: center;
    background-color: #f5f5f5fd;
    padding-top: 150px;
    height: 900px;
}

.price_align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}   

.priceinformation_title {
    font-size: 20px;
}

.priceinformation_content {
    margin-top: 30px;
    font-size: 12px;
    line-height: 160%;
}

.items_name {
    font-size: 15px;
    font-weight: 500;
    color:rgb(29, 150, 255);
    margin-bottom: 20px;
}

.items {
    display: inline-block;
    margin-right: 60px;
}

ul.items {
    font-size: 16px;
    color: rgb(137, 137, 137);
    line-height: 300%;
    list-style: none;
}

.price_name {
    font-size: 15px;
    font-weight: 500;
    color:rgb(255, 255, 255);
    padding: 0px 18px;
    background-color: rgb(29, 150, 255);
    border-radius: 10px;
    margin-bottom: 24px;
    height: 35px;
    line-height: 35px;
}

.price {
    display: inline-block;
    margin-right: 30px;
}

ul.price {
    font-size: 16px;
    color: rgb(137, 137, 137);
    line-height: 300%;
    list-style: none;
}

.x {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    color: grey;
    margin: 50px;
}

.person {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color:rgb(255, 255, 255);
    padding: 0px 18px;
    background-color: rgb(29, 150, 255);
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
    margin: 12px 50px 0px 50px;
}

.footer {
    float: right;
    position: relative;
    top: 1180px;
    right: 200px;
    margin-bottom : 50px;
    font-size: 9px;
    display: flex;
}

.· {
    padding-left: 8px;
    padding-right: 8px;
}


.component {
    position: relative;
    display: inline-block;
  }
  
.component_title {
    color: #d8e8f5;
    font-weight: 700;
    font-size: 24px;
    padding: 15px;
    margin: 10px;
}
.additional_menus {
    z-index: 1;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    background-color: lightgrey;
    border-radius: 1px;
    margin: 10px;
    color: #30426a;
    display: none;
}
  
.additional_menus li {
    padding: 10px;
}

.additional_menus li:hover {
    background-color: #6c7280;
}

.component:hover .additional_menus {
    display: block;
}