{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}

<body>
    <div class = "priceinformation_login">
        <div class = "priceinformation_title"><p>가격 정책</p></div>
        <div class = "priceinformation_content"><p>설문 비용은 문항수에 따른 1인 설문 비용과 응답자 수의 곱으로 가격 책정이 이루어집니다<br>기존의 다른 설문 서비스들보다 싸고 합리적인 단가를 제공하여 설문 의뢰인 여러분들의 만족을 추구합니다</div>
        <br>
        <br>
        <br>
        <div class="price_align">
            <ul class="items">
                <div class="items_name">문항수</div>
                <li>1 ~ 4</li>  
                <li>5 ~ 9</li>  
                <li>10 ~ 14</li>  
                <li>15 ~ 19</li> 
                <li>20 ~ 24</li> 
                <li>25 ~ 30</li>
            </ul>
            <ul class="price">
                <div class="price_name">1인 설문 비용</div>
                <li>100 ￦</li>  
                <li>200 ￦</li>  
                <li>400 ￦</li>  
                <li>650 ￦</li> 
                <li>900 ￦</li> 
                <li>1200 ￦</li>
            </ul>
            <div class="x">×</div>
            <div class="person">응답자 수</div>
        </div>
    </div>
</body>
<footer class = "footer_login">
    <div class = "allrights"><p>ⓒ 2020 SURVEY SLIDER, Inc. All rights reserved</p></div>
    <div class = "·"><p>·</p></div>
    <div class = "my_information"><p>개인정보 처리방침</p></div>
    <div class = "·"><p>·</p></div>
    <div class = "terms"><p>이용약관</p></div>
    <div class = "·"><p>·</p></div>
    <div class = "sitemap"><p>사이트맵</p></div>
    <div class = "refund"><p>한국의 변경된 환불 정책</p></div>
</footer>
{% endif %}
{% endblock content%}