{% extends 'base.html' %}

{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="surveyBox">
  <h2>
    <form action="/edit/{{survey.id}}/" method="POST">
      {% csrf_token %}
      <input id="surveyBox_titleafterSubmit" name="title" type="text" value="{{survey.title}}" default="{{survey.title}}"/>
    </form>
  </h2>
  </h4>
    <form action="/edit/{{survey.id}}/explanation/" method="POST">
      {% csrf_token %}
      <input name="explanation" type="text" value="{{survey.explanation}}" default="{{survey.explanation}}"/>
    </form>
  </h4>
  <p>질문 갯수: {{survey.question_set.all.count}}</p>

  {% for question in survey.question_set.all %}
    <div class="questionBox">

      <form action="/edit/{{survey.id}}/{{question.id}}/" method="POST">
        {% csrf_token %}
        질문 : &nbsp;<input id="surveyBox_box" name="question_text" type="text" value="  {{question.question_text}}"/>
      </form>
      <form style="display: inline" action="/delete/{{survey.id}}/{{question.id}}/">
        <input id="surveyBox_surveySubmit" type="submit" value="삭제" /> 
      </form>
      <br>
      <br>
      {% for choice in question.choice_set.all %}
      <div class="questionBox_choices">
        <form action="/edit/{{survey.id}}/{{question.id}}/{{choice.id}}/" method="POST">
          {% csrf_token %}
          선택지 : &nbsp;<input id="surveyBox_box" name="choice_text" type="text" value="  {{choice.choice_text}}"/>
        </form>
        <form style="display: inline" action="/delete/{{survey.id}}/{{question.id}}/{{choice.id}}/">
          <input id="surveyBox_surveySubmit" type="submit" value="삭제"/>
        </form>
      </div>
      {% endfor %}
      <br>
      <br>
      <div class="choice">
        <form action="/new/{{survey.id}}/{{question.id}}/" method="POST">
          {% csrf_token %}
          <span style="vertical-align: middle">선택지 입력 </span> &nbsp; <input id="surveyBox_boxBlue" value="  " name="choice_text"/>
          <input id="surveyBox_surveySubmitBlue" type="submit" value="추가" />
        </form>
      </div>
    </div>
  {% endfor %}

  <div class="questionBox">
    <form action="/new/{{survey.id}}/" method="POST">
      {% csrf_token %}
      <p>질문 추가  &nbsp; <input id="surveyBox_box" name="question_text" value="  "/></p>
      <input id="surveyBox_surveySubmit" type="submit" value="추가" />
    </form>
  </div>

 </div> 
<div>
  <form action="/complete/{{survey.id}}/" style="margin-top:50px">
    {% csrf_token %}
    <input id="surveyBox_surveyComplete" type="submit" value="설문지 제작 완료"/> 
  </form>
</div>
<script>
  $(document).ready(function() {
    let choiceInputList = document.querySelectorAll("input[name=choice_text]");
    let lastChoice = choiceInputList[choiceInputList.length-1];
    if(lastChoice) { // if there is some questions and submit onclick occurs
      lastChoice.focus();
    }
  });  
</script>
{% endblock content %}