{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="surveyBox">
  <h2>
    <form action="/edit/{{survey.id}}/" method="POST">
      {% csrf_token %}
      <input id="surveyBox_titleafterSubmit" name="title" type="text" value="  {{survey.title}}"/>
      <br>
      <input name="explanation" type="text" value="{{survey.explanation}}"/>
    </form>
  </h2>
  <p>질문 갯수: {{survey.question_set.all.count}}</p>

  {% for question in survey.question_set.all %}
    <div class="questionBox">

      <form action="/edit/{{survey.id}}/{{question.id}}/" method="POST">
        {% csrf_token %}
        <p>질문. <input id="surveyBox_box" name="question_text" type="text" value="  {{question.question_text}}"/> </p>
      </form>
      <form style="display: inline" action="/delete/{{survey.id}}/{{question.id}}/">
        <input id="surveyBox_surveySubmit" type="submit" value="삭제" /> 
      </form>
    
      {% for choice in question.choice_set.all %}
        <form action="/edit/{{survey.id}}/{{question.id}}/{{choice.id}}/" method="POST">
          {% csrf_token %}
          <p>선택지. <input id="surveyBox_box" name="choice_text" type="text" value="  {{choice.choice_text}}"/></p>
        </form>
        <form action="/delete/{{survey.id}}/{{question.id}}/{{choice.id}}/">
          <input id="surveyBox_surveySubmit" type="submit" value="삭제"/>
        </form>
      {% endfor %}

      <div class="choice">
        <form action="/new/{{survey.id}}/{{question.id}}/" method="POST">
          {% csrf_token %}
          <p>선택지. <input id="surveyBox_box" value="  " name="choice_text"/></p>
          <input id="surveyBox_surveySubmit" type="submit" value="제출"/>
        </form>
      </div>

    </div>
  {% endfor %}

  <div class="questionBox">
    <form action="/new/{{survey.id}}/" method="POST">
      {% csrf_token %}
      <p>질문. <input id="surveyBox_box" name="question_text" value="  "/></p>
      <input id="surveyBox_surveySubmit" type="submit" value="제출"/>
    </form>
  </div>

 </div> 
<div>
  <form action="/complete/{{survey.id}}/" style="margin-top:50px">
    {% csrf_token %}
    <input id="surveyBox_surveyComplete" type="submit" value="설문지 제작 완료"/> 
  </form>
</div>
{% endblock content %}