{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="surveyBox">
  <h1>설문조사 제작</h1>

  <p>안녕하세요! {{user.get_username}} 님!</p>
  <p>당신의 현재 총 포인트: {{user.profile.point}}</p> 
  <a href="/account/{{user.id}}/charge/">포인트 충전</a>
</div>
<div class="surveyBox">
  <form action="/new/" method="POST">
    {% csrf_token %}
    <label for="title">설문조사 제목을 입력하세요</label>
    <input name="title"/>
    <input type="submit" value="완료"/>
  </form>

</div>

{% endblock content %}

