{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="surveyBox">
  <span id="surveyBox_title">당신의 설문조사를 제작하세요</span>

  <p id="surveyBox_content">안녕하세요! {{user.get_username}} 님!<br>당신의 현재 총 포인트: {{user.profile.point}}</p> 
  <a id="surveyBox_pointCharge" href="/account/{{user.id}}/charge/">포인트 충전</a>
</div>
<div class="surveyBox_surveyTitle">
  <form action="/new/" method="POST">
    {% csrf_token %}
    <p><label for="title">설문조사 제목을 입력하세요</label></p>
    <p><input id="surveyBox_box" name="title" value="  "/></p>
    <p><label for="explanation">설문조사에 대한 간략한 설명을 적으세요</label></p>
    <p><input name="explanation"/></p>
    <p><input id="surveyBox_surveySubmit" type="submit" value="완료"/></p>
  </form>

</div>

{% endblock content %}

