{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="profile">
    <div>
        {{ user.last_name }}{{user.first_name}} 님의 정보입니다.
        <br>
        <div class="myinfo_detail">
            아이디: {{ user.get_username }}
            <br>
            이메일: {{user.email}}
            <br>
            성별: {{user.profile.gender}}
            <br>
            학교: {{ user.profile.college }}
            <br>
            전공: {{ user.profile.major }}
            <br>  
            학년: {{ user.profile.grade }} 학년
            <br> 
            포인트: {{user.profile.point}}
            <br>       
            총 획득 포인트: {{user.profile.gainedpoint}}   
            <br>   
        </div>                           
    </div>
    <a href="/accounts/{{ user.id }}/change_profile">정보 수정</a>
</div>
{% endblock %}
