{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="changeinfo">
        <form method="POST" action="/account/{{ user.id }}/changeinfo/">
            {% csrf_token %}
            사용자 이름:
            <br>
            <input id="infochange_subtitle" name="username" type="text" value={{user.username}}>
            <br>
            <br>
            소속 대학교:
            <br>
            <input id="infochange_subtitle" name="college" type="text" value={{user.profile.college}}>
            <br>
            <br>
            소속 전공:
            <br>
            <input id="infochange_subtitle" name="major" type="text" value={{user.profile.major}}>
            <br>
        <input id="info_change" type="submit" value="Change">
        </form>
</div>

{% endblock %}
