{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="questionBox" style="width:500px; height:auto">
  <form method="POST" action="/account/{{ user.id }}/changeinfo/">
    {% csrf_token %}
    사용자 ID:
    <br>
    <input id="infochange_subtitle" name="username" type="text" value={{user.username}}>
    <br>
    <br>
    이메일
    <br>
    <input id="infochange_subtitle" name="email" type="text" value={{user.email}}>
    <br>
    <br>
    소속 대학교:
    <br>
    <input id="infochange_subtitle" name="college" type="text" value={{user.profile.college}}>
    <br>
    <br>
    소속 전공:
    <br>
    <input id="infochange_subtitle" name="major" type="text" value={{user.profile.major}}>
    <br>
    <br>
    성, 이름
    <br>
    <input id="familyname" name="last_name" type="text" value={{user.last_name}}> <input id="name" name="first_name" type="text" value={{user.first_name}}>
    <input id="info_change" type="submit" value="Change">
    <br>
  </form>
</div>

{% endblock %}
